[Unit]
Description=Hardy Bundle Protocol Agent (BPA) Server
After=network.target

[Service]
Type=simple
User=@SERVICE_USER@
WorkingDirectory=@WORKING_DIR@
@OTEL_ENV@
Environment="RUST_LOG=@RUST_LOG@"
ExecStart=@EXEC_START@
Restart=always
RestartSec=5

# Sandboxing & Security Hardening
PrivateTmp=@PRIVATE_TMP@
ProtectSystem=@PROTECT_SYSTEM@
ProtectHome=@PROTECT_HOME@
NoNewPrivileges=@NO_NEW_PRIVILEGES@
ReadWritePaths=@READ_WRITE_PATHS@

[Install]
WantedBy=multi-user.target
